<div id="map"></div>
<button id="buttonRefreshMap" (click)="refreshMap()">Refresh</button>
<form id="cityForm">
    <label for="cityName">City Name:</label><br>
    <input type="text" id="cityName" name="cityName"><br>
    <label for="latitude">Latitude:</label><br>
    <input type="text" id="latitude" name="latitude"><br>
    <label for="longitude">Longitude:</label><br>
    <input type="text" id="longitude" name="longitude"><br><br>
    <button id="buttonAddSite" (click)="refreshMap()">Add Site</button>
</form>